//===========================================
// -Footer start
//===========================================
footer {
    height: 70px;
    background-color: #0e0e0e;
    border-top: 1px solid white;

    .container {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .footer-content {
            color: $default;
        }

    }
}

//===========================================
// -Footer end
//===========================================